.body {
    background-color: #282c34;
    color: white;
    padding: 40px;
    font-family: Arial;
    
    text-align: center;
    list-style-position: inside;
  }
  .bigblue {
    color: DodgerBlue;
    padding: 40px;
    font-family: Arial;
    text-align: center;
  }